header{
  text-align: center;
  background-image: url('../IMG/header_BG2.jpg');
  padding: 5px;
  background-size: cover;

}

#header_img{
  height: 150px;
}

.menu_img{
  height: 200px;
  transition: all 5s ease;
}

#stingerText{
  font-family: sans-serif;
  font-size:80px;
  width: 100%;
  margin: 0;
}

.btn {
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d93442;
  padding: 20px 20px 20px 20px;


}

.btn:hover {
  background: #000000;
  text-decoration: none;
}

.btn2 {
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #1c1cb2;
  padding: 20px 20px 20px 20px;
}


.btn2:hover {
  background: #000000;
  text-decoration: none;
}

#bg_music{
  text-align: center;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  padding: 10px;
  background-color: #d3d6db;
  text-align: center;
  font-size: 20px;
  font-family:sans-serif;
}

table{
  margin: auto;
}


body {
	background: #ccc;
	font: 87.5%/1.5em 'Lato', sans-serif;
	margin: 0;
}


.container {
  left: 50%;
  top: 50%;

}

.calendar-container {
	position: relative;
	width: 400px;
  margin: auto;
}

.calendar-container header {
	border-radius: 1em 1em 0 0;
	background: #e66b6b;
	color: #fff;
	padding: 1em 1em;
}

.day {
	font-size: 8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 4em;
	line-height: 1em;

}

.calendar {
	background: #fff;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 3.58em;
}

.calendar thead {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .25em .5em;
	text-align: center;
}

.calendar tbody td:hover {

}

.current-day {
	color: #e66b6b;
}

.prev-month,
.next-month {
	color: #cacaca;
}

.ring-left,
.ring-right {
	position: absolute;
	top: 63px;
}

.ring-left { left: 2em; }
.ring-right { right: 2em; }

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 8px;
	height: 25px;
	width: 8px;
}




.plus {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  color: #1a1a1a;
  background: #ed1c5b;
  border-radius: 50%;
  border: none;
  -webkit-transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
}
.plus:after {
  content: "+";
  font-size: 2.5em;
  line-height: 1.1em;
}
.plus:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  box-shadow: 0 0 1px 15px rgba(138, 59, 88, 0.4), 0 0 1px 30px rgba(138, 59, 88, 0.1), 0 0 1px 45px rgba(138, 59, 88, 0.1);
}


span {
  padding: 0 1rem;
  transition: opacity 0.2s;
}
.sibling-fade:hover span:not(:hover) {
  opacity: 0.5;
}




.rotated {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.img{transition: all 5s ease;}
